/*/target/
*.class
*.jar
*.log
/*/logs/*
/*/target/*
/*/.classpath
/*/.settings*
/*/.project
/*/.idea/*
/*/.mvn
/*/.iml
/*/.gitignore
/*/*/.mvn
/*/*/target
.idea
.settings
.iml
.classpath
bin/
*.iml
/*/out/*