<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="user" class="com.spring.base.entities.User">
		<property name="name" value="jack"></property>
		<property name="password" value="123456"></property>
		<property name="id" value="1"></property>
	</bean>
	<bean id="course" class="com.spring.base.entities.Course">
		<property name="id" value="1"></property>
		<property name="title" value="spring5.x学习"></property>
		<property name="user" ref="user"></property>
	</bean>
	<bean id="car" class="com.spring.base.entities.Car">
		<property name="id" value="1"></property>
		<property name="name" value="宝马X5"></property>
		<property name="color" value="red"></property>
	</bean>
	<!--构造器自动装配-->
	<bean id="student" class="com.spring.base.entities.Student" autowire="constructor">
		<property name="id" value="1"></property>
		<property name="name" value="张三"></property>
	</bean>
	<bean id="studentInfo" class="com.spring.base.entities.StudentInfo"></bean>
	<!-- 使用context命名空间，通过spring扫描指定annotation及其子包下所有的Bean实现类，进行注解解析 -->
	<context:component-scan base-package="com.spring.base.entities"/>
	<bean id="timeHandler" class="com.spring.base.aop.TimeHandler"></bean>
	<bean id="userService" class="com.spring.base.service.impl.UserServiceImpl"></bean>
	<!-- 配置AOP -->
	<aop:config>
		<aop:aspect id="timeAspect" ref="timeHandler">
			<aop:pointcut id="pt1" expression="execution(* com.spring.base.service.UserService.*(..))"></aop:pointcut>
			<aop:before method="printBefore" pointcut-ref="pt1"></aop:before>
			<aop:after method="printAfter" pointcut-ref="pt1"></aop:after>
		</aop:aspect>
	</aop:config>
	<import resource="beans.xml"/>
</beans>